<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <customshipping>
                <active>0</active>
                <title>Shipping Title</title>
                <name>Shipping Name</name>
                <shipping_cost>10</shipping_cost>
                <weekends_cost>15</weekends_cost>
                <holidays_cost>20</holidays_cost>
                <sallowspecific>0</sallowspecific>
                <weekends>0,6</weekends>
                <sort_order>15</sort_order>
                <model>Primak\CustomShipping\Model\Carrier\Customshipping</model>
            </customshipping>
        </carriers>
    </default>
</config>
